@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,ul {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "karla" !important;
}

.body-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
  position: relative;
}

.jodit-react-container {
  width: 100% !important;
}

.nav-bar {
  width: 100%;
  height: 60px;
  background-color: #cc1111;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  justify-content: space-between;

  .logo-menu {
    display: flex;
    align-items: center;

    .logo-wrapper {
      height: 100%;
      display: flex;
      align-items: center;

      img {
        width: 190px;

        @media (max-width: 380px) {
          width: 140px;
        }
      }
    }

    .menu {
      @media (max-width: 420px) {
        margin-left: -5px;
      }

      img {
        width: 18px;
        cursor: pointer;
        transition: all 0.4s;

        &:hover {
          opacity: 0.9;
        }

        @media (max-width: 420px) {
          width: 16px;
        }
      }
    }
  }

  .search-box {
    display: flex;
    align-items: center;
    width: 400px;
    height: 30px;
    border-radius: 75px;

    @media (max-width: 1100px) {
      display: none;
    }

    .search-box-wrapper {
      width: calc(100% - 130px);
      position: relative;
      height: 100%;

      .search-icon {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #fb8308;

        svg {
          path {
            fill: white;
          }
        }
      }

      input {
        width: 100%;
        height: 100%;
        border-radius: 0px 75px 75px 0px;
        border: none;
        padding: 0px 10px;
        outline: none;
        background-color: white;
      }
    }

    .select-options {
      background-color: #f9fafb;
      border-radius: 75px 0px 0px 75px;
      font-size: 14px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 130px;
      gap: 20px;
      padding-left: 20px;
      padding-right: 5px;
      border-right: 0.7px solid #b0b0b0;
    }
  }

  .import-links {
    display: flex;
    align-items: center;
    gap: 15px;

    @media (max-width: 420px) {
      gap: 10px;
    }

    .search-mobile {
      display: none;

      @media (max-width: 1100px) {
        display: block;
      }
    }

    .three-dot {
      display: none;

      @media (max-width: 768px) {
        display: block;
      }
    }

    .hide-mobile {
      @media (max-width: 768px) {
        display: none;
      }
    }

    .link {
      cursor: pointer;
      position: relative;
      transition: all 0.4s;

      &:hover {
        opacity: 0.9;
      }

      img {
        height: 20px;
      }

      .count {
        width: 16px;
        height: 16px;
        display: flex;
        font-size: 10px;
        color: white;
        background-color: #fb8308;
        border: 2px solid #cc1111;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 50%;
        right: -50%;
        top: -30%;
      }
    }

    .line {
      height: 32px;
      width: 1.5px;
      background-color: white;
    }

    .perfile-detail {
      display: flex;
      align-items: center;
      gap: 10px;

      .img-wrapper {
        .circle {
          width: 35px;
          height: 35px;
          background-color: white;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 32px;
            height: 32px;
          }
        }
      }

      .profile-detail-wrapper {
        margin-right: 15px;

        @media (max-width: 768px) {
          display: none;
        }

        .name {
          color: white;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: -2px;
        }

        .title {
          font-size: 12px;
          color: white;
          margin-top: -2px;
        }
      }

      .down-icon {
        cursor: pointer;
      }
    }
  }
}

.event-wrapper {
  display: flex;
  padding: 15px;
  position: relative;
  gap: 20px;

  @media (max-width: 767px) {
    gap: 0;
  }

  .sidebar {
    width:300px;
    height: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px, 0;


    @media (max-width: 767px) {
      position: absolute;
      z-index: 15;
      left: 0px;
      left: 0;
      top: 0;
      transition: all 0.3s;
    }
  }

  .side-bar {
    width: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(0, 0, 0, 0.1);

    @media (max-width: 800px) {
      position: absolute;
      z-index: 20;
      left: 0px;
    }

    .profile-detail {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .img-wrapper {
        img {
          border-radius: 50%;
        }

        margin-bottom: 10px;
      }

      .name {
        font-size: 20px;
        font-weight: 600;
        color: #1f1216;
      }

      .title {
        font-size: 16px;
        color: #a5a8ab;
      }
    }

    .menu {
      width: 100%;
      padding: 0px;
      margin-top: 20px;

      .menu-item {
        list-style: none;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 8px 0px;

        .title {
          font-size: 18px;
          font-weight: 600;
          width: calc(100% - 38px);
          padding-left: 20px;
        }

        .icon {
          cursor: pointer;
          margin-right: 20px;
        }

        .sub-menu {
          padding: 0px;
          font-size: 16px;
          color: #454545;
          transition: 0.4s;
          font-weight: 600;
          margin-top: 12px;
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 5px;

          ul {
            padding-left: 40px;
            width: 100%;
            cursor: pointer;

            .sub-menu-item {
              padding: 8px 0px;
              width: 100%;
            }
          }

          .active {
            background-color: #cc1111;
            color: white;
          }
        }
      }

      .divider {
        height: 1px;
        width: calc(100% - 40px);
        margin-left: 20px;
        background-color: #d9dce0;
      }
    }

    .return {
      cursor: pointer;
      width: 100%;
      padding: 0px 20px;
      color: #cc1111;

      span {
        padding-left: 10px;
        font-weight: 500;
      }
    }
  }

  .event-body {
    width: calc(100% - 260px);
    width: 100%;

    @media (max-width: 800px) {
      width: 100%;
      padding: 0;
    }

    .heading {
      width: 100%;
      padding: 40px 0px;
      text-align: center;
      color: #1f1216;
      font-size: 32px;
      font-weight: 800;
    }

    .my-btn-primary {
      width: 250px;
      height: 46px;
      border-radius: 75px;
      color: white;
      background-color: #cc1111;
      border: none;
      font-size: 17px;
      cursor: pointer;
      font-weight: 600;

      @media (max-width: 600px) {
        width: 100%;
      }
    }

    .earning-summary {
      width: 100%;
      background-color: white;
      box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
      padding: 20px;

      .top-heading {
        font-size: 20px;
        font-weight: 500;
        position: relative;
        margin-bottom: 20px;
      }

      .top-heading::after {
        content: "";
        position: absolute;
        height: 4px;
        width: 45px;
        background-color: #cc1111;
        left: 0px;
        bottom: -8px;
      }

      .count-wrapper {
        display: flex;
        margin-top: 40px;
        margin-bottom: 20px;
        gap: 16px;
        flex-wrap: wrap;

        @media (max-width:474px) {
          flex-wrap: nowrap;
        }

        .count {
          width: 145px;
          height: 145px;
          padding: 8px;
          border-radius: 6px;
          border: 1.5px solid #cc1111;

          @media (max-width:474px) {
            width: 100%;
            height: unset;
            text-align: center;
          }

          .count-border {
            border-radius: 6px;
            border: 1.5px solid #cc1111;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            align-items: center;

            .title {
              color: #cc1111;
              font-size: 32px;

              @media (max-width: 474px) {
                font-size: 21px !important;
              }

              font-weight: 600;
            }

            .sub-line {
              font-size: 16px;

              @media(max-width: 474px) {
                font-size: 12px !important;
              }
            }
          }
        }
      }
    }

    .detail {
      width: 100%;
      display: flex;
      gap: 20px;
      margin-top: 20px;

      @media (max-width: 1100px) {
        flex-wrap: wrap;
      }

      .top-heading {
        font-size: 20px;
        font-weight: 500;
        position: relative;
        margin-bottom: 40px;
        padding: 0px 20px;
      }

      .top-heading::after {
        content: "";
        position: absolute;
        height: 4px;
        width: 45px;
        background-color: #cc1111;
        left: 20px;
        bottom: -8px;
      }

      .events {
        width: calc(50% - 10px);
        background-color: white;
        box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
        padding: 20px 0px;

        @media (max-width: 1100px) {
          width: 100%;
        }

        .events-list {
          width: 100%;
          margin-bottom: 20px;

          .evt {
            width: 100%;
            padding: 0px 20px;
            height: 42px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
          }

          .purple {
            background-color: #cc11111d;
          }
        }
      }

      .event-graph {
        width: calc(50% - 10px);
        background-color: white;
        box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
        padding: 20px 0px;

        @media (max-width: 1100px) {
          width: 100%;
        }

        .graph-img {
          width: 100%;
          padding: 0px 20px;

          img {
            width: 100%;
          }
        }
      }
    }

    .input-group {
      margin-bottom: 10px;

      label {
        width: 100%;
        font-size: 14px;
        font-family: 500;
      }

      input,
      select {
        width: 100%;
        height: 36px;
        border-radius: 4px !important;
        background-color: #f9fafb;
        font-size: 12px;
        border: none;
        padding-left: 15px;
        outline: none;
        border: 1px solid #d9dce0;
        margin-top: 5px;

        &::placeholder {
          color: #909090;
          font-size: 12px;
        }

        &:focus {
          border: 0.8px solid #cc1111;
          box-shadow: none;
        }
      }

      textarea {
        width: 100%;
        padding-top: 15px;
        border-radius: 4px !important;
        background-color: #f9fafb;
        font-size: 12px;
        border: none;
        padding-left: 15px;
        outline: none;
        border: 1px solid #d9dce0;
        margin-top: 5px;
        resize: none;

        &::placeholder {
          color: #909090;
          font-size: 12px;
        }

        &:focus {
          border: 0.8px solid #cc1111;
          box-shadow: none;
        }
      }
    }

    .submit-an-event {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      column-gap: 15px;
      background-color: white;
      box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
      padding: 15px;

      .in-1-col {
        width: 100%;
      }

      .in-2-col {
        width: calc(50% - 7.5px);

        @media (max-width: 415px) {
          width: 100%;
        }
      }

      .in-3-col {
        width: calc(33.3% - 10px);

        @media (max-width: 1076px) {
          width: calc(50% - 7.5px);
        }

        @media (max-width: 600px) {
          width: 100%;
        }
      }

      .in-0-75-col {
        width: calc(66.7% - 7.5px);

        @media (max-width: 1076px) {
          width: 100%;
        }
      }

      .desc {
        position: relative;

        textarea {
          padding-top: 50px;

          @media (max-width: 393px) {
            padding-top: 90px;
          }
        }

        .icons {
          position: absolute;
          display: flex;
          gap: 10px;
          top: 40px;
          left: 15px;

          @media (max-width: 412px) {
            flex-wrap: wrap;
          }

          .icon {
            height: 30px;
            padding: 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background-color: #cc1111;
            color: white;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }

      .range {
        display: flex;
        gap: 5px;
        align-items: center;

        span {
          padding-top: 5px;
        }
      }

      .cancel-policy {
        width: 100%;
        min-height: 105px;
        border-radius: 4px;
        border: 1px solid #d9dce0;
        background-color: #f9fafb;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        a {
          color: #cc1111;
        }

        p {
          margin: 0px;
          padding: 0px;
          color: #1f1216;
          font-size: 16px;
          font-weight: 500;
          text-align: center;
        }
      }

      .banner-img {
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        min-height: 240px;
        border-radius: 4px;
        border: 1px solid #d9dce0;
        background-color: #f9fafb;

        span {
          color: #cc1111;
        }

        p {
          margin: 0px;
          padding: 0px;
          color: #1f1216;
          font-size: 16px;
          font-weight: 500;
          text-align: center;
        }

        label {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        input {
          position: absolute;
          z-index: -90;
          opacity: 0;
        }
      }

      .img-label {
        label {
          width: 100%;
          font-size: 14px;
          font-family: 500;
          margin-bottom: 10px;
        }
      }

      .poster-img {
        width: 240px;
        position: relative;
        margin-bottom: 10px;
        height: 240px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #d9dce0;
        background-color: #f9fafb;

        span {
          color: #cc1111;
        }

        p {
          margin: 0px;
          padding: 0px;
          color: #1f1216;
          font-size: 16px;
          font-weight: 500;
          text-align: center;
        }

        label {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        input {
          position: absolute;
          z-index: -90;
          opacity: 0;
        }
      }

      .photo-wrapper {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;

        .photo {
          width: 260px;
          height: 260px;
          position: relative;

          .img-wrapper {
            width: 100%;

            height: 100%;

            img {
              width: 100%;
              border-radius: 12px;
            }
          }

          .icon {
            position: absolute;
            top: 0px;
            right: 0px;
          }
        }
      }

      .video-wrapper {
        display: flex;
        gap: 12px;
        align-items: stretch !important;
        margin-top: 10px;
        flex-wrap: wrap;

        .video {
          width: 300px;
          position: relative;

          .img-wrapper {
            width: 100%;

            height: 100%;

            img {
              width: 100%;
              border-radius: 12px;
            }
          }

          .icon {
            position: absolute;
            top: 0px;
            right: 0px;
          }

          .play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .main-btn {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 40px;
        margin-bottom: 30px;

        @media (max-width: 800px) {
          flex-wrap: wrap;
        }

        button {
          width: 250px;
          height: 46px;
          border-radius: 75px;
          color: white;
          background-color: #cc1111;
          border: none;
          font-size: 17px;
          cursor: pointer;
          font-weight: 600;

          @media (max-width: 600px) {
            width: 100%;
          }
        }

        .prim {
          background-color: #cc1111;
        }
      }
    }

    .preview {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
      padding: 20px;

      .banner-img {
        width: 100%;

        img {
          width: 100%;
          border-radius: 20px;
        }
      }

      .event-detail {
        display: flex;
        margin-top: 40px;
        gap: 30px;

        @media (max-width: 900px) {
          flex-wrap: wrap;
        }

        .sponsor-detail {
          margin-top: -20px;
          position: relative;

          @media (max-width: 500px) {
            padding-top: 170px !important;
          }

          .detail-2 {
            display: flex;
            width: 80%;

            @media (max-width: 800px) {
              flex-wrap: wrap;
            }
          }

          .logo {
            position: absolute;
            top: 40px;
            right: 40px;

            img {
              border-radius: 50%;
              width: 140px;
            }

            @media (max-width: 500px) {
              left: 40px !important;
            }
          }

          .title {
            color: #cc1111;
            font-size: 20px;
            font-weight: 500;
            margin-top: 20px;
            margin-bottom: 10px;
          }

          .text {
            color: #4d4d4d;
            font-size: 18px;
          }

          .detail {
            display: block;
          }
        }

        .detail-wrapper {
          width: calc(100% - 350px);

          @media (max-width: 900px) {
            width: 100%;
          }

          .back {
            color: #cc1111;
            font-size: 20px;
            margin-bottom: 20px;

            span {
              padding-left: 5px;
              font-weight: 500;
            }
          }

          .date {
            font-size: 16px;
            font-weight: 600;
            color: #454545;

            @media (max-width: 500px) {
              font-size: 20px;
            }
          }

          .event-title {
            font-size: 28px;
            font-weight: 600;
            color: #454545;

            @media (max-width: 500px) {
              font-size: 24px;
            }
          }

          .text {
            color: #4d4d4d;
            font-size: 18px;
          }

          .event-detail-heading {
            font-size: 28px;
            font-weight: 600;
            position: relative;
            margin-bottom: 20px;
            margin-top: 30px;
          }

          .event-detail-heading::after {
            content: "";
            position: absolute;
            height: 4px;
            width: 45px;
            background-color: #cc1111;
            left: 0px;
            bottom: -8px;
          }

          .title {
            color: #cc1111;
            font-size: 20px;
            font-weight: 500;
            margin-top: 20px;
            margin-bottom: 10px;
          }

          ul li {
            font-size: 18px;
            color: #454545;
          }
        }

        .ticket-detail {
          width: 320px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          @media (max-width: 500px) {
            width: 100%;
          }

          .more-links {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;

            a {
              cursor: pointer;
              text-decoration: none;

              img {
                width: 30px;
              }
            }
          }

          .ticket-wrapper {
            width: 100%;
            padding: 15px;
            margin-bottom: 20px;
            background-color: #cc111116;
            border: 1px solid #d9d9d9;
            border-radius: 12px;

            .ticket-heading {
              font-size: 28px;
              font-weight: 600;
              border-radius: 12px;
            }

            .count {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 10px;

              .title {
                font-size: 20px;
              }

              .detail {
                display: flex;
                align-items: center;
                gap: 5px;

                .box {
                  width: 25px;
                  height: 25px;
                  background-color: white;
                  border: 1px solid #d9d9d9;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 4px;
                  cursor: pointer;
                }
              }
            }

            .total {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 20px;
              font-size: 20px;
              font-weight: 600;
              margin-bottom: 10px;
            }

            button {
              width: 100%;
              height: 45px;
              border-radius: 75px;
              background-color: #cc1111;
              color: white;
              font-size: 18px;
              border: none;
              cursor: pointer;
            }
          }

          .become-sponsor {
            width: 100%;
            padding: 15px;

            button {
              width: 100%;
              height: 45px;
              border-radius: 75px;
              border: 1px solid #cc1111;
              font-size: 18px;
              cursor: pointer;
              color: #cc1111;
              background: none;
            }
          }

          .verical-banner {
            width: 100%;

            img {
              border-radius: 20px;
              width: 100%;
            }
          }

          .map-wrapper {
            width: 100%;
            margin-top: 20px;

            img {
              width: 100%;
            }
          }
        }
      }

      .main-btn {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 40px;
        margin-bottom: 30px;

        @media (max-width: 400px) {
          flex-wrap: wrap;
        }

        button {
          width: 250px;
          height: 46px;
          border-radius: 75px;
          color: white;
          background-color: #cc1111;
          border: none;
          font-size: 17px;
          cursor: pointer;
          font-weight: 600;

          @media (max-width: 600px) {
            width: 100%;
          }
        }

        .prim {
          background-color: #cc1111;
        }
      }

      .doner {
        justify-content: space-between !important;
        align-items: center;
        display: flex;
      }

      .navigation-download {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        margin: 20px 0px;

        @media (max-width: 1000px) {
          flex-wrap: wrap;
        }

        .group-navigation {
          margin: 20px 0px;
          width: calc(100% - 180px);
          height: 40px;
          border: 1.5px solid #cc1111;
          display: flex;
          justify-content: flex-start;
          font-size: 16px;
          color: #cc1111;
          font-weight: 600;

          @media (max-width: 1000px) {
            flex-wrap: wrap;
            height: auto !important;
            width: 100%;
          }

          .link {
            line-height: 40px;
            padding: 0px 20px;

            @media (max-width: 1000px) {
              padding: 0px 10px;
            }

            @media (max-width: 1000px) {
              width: 100%;
            }

            cursor: pointer;
            transition: all 0.4s;

            &:hover {
              opacity: 0.9;
            }
          }

          .active-link {
            background-color: #cc1111;
            color: white;
          }
        }

        .download-btn {
          display: flex;
          gap: 10px;
          height: 40px;
          align-items: center;
          background-color: #cc1111;
          color: white;
          justify-content: center;
          cursor: pointer;
          border-radius: 12px;
          padding: 0px 15px;
          width: 180px;

          @media (max-width: 1000px) {
            width: 100%;
          }
        }
      }
    }

    .table-wrapper {
      margin-bottom: 80px;
      margin-top: 20px;
      width: 100%;

      @media (max-width: 1150px) {
        overflow-x: auto;
      }

      table {
        width: 100%;

        @media (max-width: 1150px) {
          min-width: 1150px;
        }
      }

      thead {
        tr {
          th {
            padding: 10px 0px;
            font-size: 14px;
            font-weight: 500;
            color: #1f1216;
          }
        }
      }

      tbody {
        tr {
          padding: 20px;
          border: 1px solid #d9dce0;

          td {
            height: 60px;
            color: #1f1216;
            font-size: 14px;
            font-weight: 500;
            text-align: center;

            .title {
              font-size: 10px;
              color: #909090;
            }
          }

          .action {
            position: relative;

            .dot {
              cursor: pointer;
              width: 30px;
            }

            .more-links {
              text-align: left;
              position: absolute;
              right: 45px;
              top: 45px;
              width: 200px;
              background-color: white;
              padding: 20px;
              border-radius: 8px;
              box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
              display: flex;
              flex-direction: column;
              gap: 20px;
              font-size: 14px;
              color: #1f1216;
              z-index: 2;

              .img {
                width: 25px;
                display: inline-block;
              }

              .link {
                cursor: pointer;
              }
            }
          }
        }
      }

      .status {
        padding: 5px 10px;
        border-radius: 75px;
        background-color: #fb8308;
        color: white;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .event-page {
      width: 100%;
      background-color: white;
      box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
      padding: 20px;

      .page-filter {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;

        .left {
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
          align-items: flex-end;

          @media (max-width: 580px) {
            width: 100% !important;
          }

          .event-select {
            margin-bottom: 0px;
            width: 245px;

            select {
              height: 45px;
              font-size: 16px;

              &::placeholder {
                font-size: 16px;
              }
            }

            @media (max-width: 512px) {
              width: 100% !important;
              height: 40px;
            }
          }

          .search-box {
            position: relative;
            width: 300px;
            height: 45px;
            flex-shrink: 1;

            @media (max-width: 512px) {
              width: 100% !important;
              height: 40px;
            }

            input {
              width: 100%;
              height: 100%;
              background-color: #f9fafb;
              border: 1px solid #d9d9d9;
              border-radius: 6px;
              outline: none;
              font-size: 14px;
              padding-left: 15px;

              &::placeholder {
                font-size: 14px;
              }
            }

            .search-icon {
              position: absolute;
              right: 0px;
              top: 0px;
              height: 45px;
              width: 45px;

              background-color: #cc1111;
              border-radius: 0px 6px 6px 0px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              @media (max-width: 512px) {
                width: 40px;
                height: 40px;
              }
            }
          }

          .sort {
            width: 208px;
            margin: 0px;

            select {
              height: 45px;
              font-size: 16px;
            }

            @media (max-width: 512px) {
              width: 100%;
            }
          }
        }

        .right {
          .view {
            margin: 0px;
            position: relative;
            width: 130px;

            .icon {
              position: absolute;
              top: 50%;
              transform: translateY(-45%);
              left: 10px;
              z-index: 10;
            }

            select {
              padding-left: 40px;
              height: 45px;
              font-size: 16px;
            }
          }

          button {
            margin-left: 10px;
            width: 200px;
            height: 45px;
            background-color: #cc1111;
            border-radius: 75px;
            cursor: pointer;
            border: none;
            color: white;

            @media (max-width: 580px) {
              margin-left: 0px;
              margin: 10px;
              padding: 5px 10px;
              width: auto;
              border-radius: 4px;
              height: auto;
            }
          }
        }
      }

      .select-event-detail {
        width: 100%;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #d9dce0;
        background-color: #f1f1f1;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        margin: 20px 0px;

        .title {
          color: #cc1111;
          font-size: 20px;
        }

        .heading-title {
          font-size: 24px;
          font-weight: 600;
        }

        .detail {
          display: block !important;
        }

        .text {
          /* font-weight: 500 */
          font-size: 16px;
          color: #454545;
        }

        .in-3-col {
          width: calc(33.3% - 10px);

          @media (max-width: 500px) {
            width: calc(50% - 7.5px);
          }

          @media (max-width: 415px) {
            width: 100%;
          }
        }

        .in-1-col {
          width: 100%;
        }
      }

      .pagination {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;

        .items {
          display: flex;
          align-items: center;
          gap: 10px;

          .title {
            font-size: 16px;
          }

          select {
            background-color: #f9fafb;
            border: 1px solid #d9dce0;
            border-radius: 4px;
            height: 35px;
            /* padding: 0px 5px; */
            min-width: 55px;
            font-size: 16px;

            &:focus {
              box-shadow: none;
            }
          }
        }

        .list {
          display: flex;
          gap: 14px;

          @media (max-width: 470px) {
            flex-wrap: wrap;
          }

          .box {
            height: 35px;
            line-height: 35px;
            padding: 0px 10px;
            border-radius: 4px;
            border: 1px solid #d9d9d9;
            background-color: #f9fafb;
            cursor: pointer;
          }

          .exect {
            padding: 0px;
            width: 35px;
            text-align: center;
          }

          .active {
            border-color: #cc1111;
          }
        }
      }

      .event-list {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        margin: 20px 0px;

        .event {
          width: calc(25% - 9px);
          background-color: white;
          border: 1px solid #d9d9d9;
          padding: 10px;
          position: relative;
          border-radius: 8px;
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);

          @media (max-width: 1045px) {
            width: calc(33.3vw - 28px);
          }

          @media (max-width: 1300px) {
            width: calc(33.3% - 8px);
          }

          @media (max-width: 1027px) {
            width: calc(50% - 6px);
          }

          @media (max-width: 600px) {
            width: 100%;
          }

          .img-wrapper {
            width: 100%;

            img {
              width: 100%;
            }
          }

          .title {
            color: #4d4d4d;
            font-size: 20px;
            font-weight: 600;
            margin-top: 10px;
          }

          .ticket-sold {
            color: #7649b3;
            font-size: 14px;
          }

          .date {
            color: #cc1111;
            font-size: 18px;

            span {
              font-size: 14px;
              color: #7649b3;
            }
          }

          .hosted {
            color: #4d4d4d;

            span {
              text-decoration: underline;
              color: black;
              cursor: pointer;
            }
          }

          .from {
            font-size: 16px;
            font-weight: 600;
            margin-top: 5px;
          }

          .action-wrapper {
            position: absolute;
            top: 30px;
            right: 30px;
          }

          .action {
            position: relative;

            .dot {
              cursor: pointer;
              width: 30px;
            }

            .more-links {
              text-align: left;
              position: absolute;
              right: 20px;
              top: 25px;
              width: 200px;
              background-color: white;
              padding: 20px;
              border-radius: 8px;
              box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
              display: flex;
              flex-direction: column;
              gap: 20px;
              font-size: 14px;
              color: #1f1216;
              z-index: 2;

              .img {
                width: 25px;
                display: inline-block;
              }

              .link {
                cursor: pointer;
              }
            }
          }
        }
      }

      .ticket-detail-wrapper {
        width: 100%;
        border: 1px solid #d9d9d9;
        background-color: #f1f1f1;
        border-radius: 8px;
        padding: 20px;
        margin-top: 20px;

        .detail-top-filter {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .head-for-detail {
            font-size: 24px;
            font-weight: 500;
          }

          .action {
            position: relative;

            .dot {
              width: 35px;
              cursor: pointer;
            }

            .more-links {
              text-align: left;
              position: absolute;
              right: 30px;
              top: 30px;
              width: 200px;
              background-color: white;
              padding: 20px;
              border-radius: 8px;
              box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
              display: flex;
              flex-direction: column;
              gap: 20px;
              font-size: 14px;
              color: #1f1216;
              z-index: 2;

              .img {
                width: 25px;
                display: inline-block;
              }

              .link {
                cursor: pointer;
              }
            }
          }
        }

        .ticket-detail-body {
          margin-top: 20px;

          .in-2-col {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;

            .detail {
              width: 300px;
              display: block !important;
            }
          }

          .title {
            color: #cc1111;
            font-size: 20px;
            font-weight: 500;
          }

          .text {
            color: #4d4d4d;
            font-size: 18px;
          }

          .in-5-col {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            margin-top: 20px;

            .detail {
              width: calc(20% - 8px);
              display: block !important;
            }

            .bold-text {
              font-weight: 600;
              color: #454545;
              font-size: 20px;
            }

            @media (max-width: 1100px) {
              gap: 20px;

              .detail {
                width: 300px;
              }
            }
          }
        }
      }

      .group-navigation {
        margin: 20px 0px;
        width: 100%;
        height: 40px;
        border: 1.5px solid #cc1111;
        display: flex;
        justify-content: flex-start;
        font-size: 16px;
        color: #cc1111;
        font-weight: 600;

        @media (max-width: 1000px) {
          flex-wrap: wrap;
          height: auto !important;
          width: 100%;
        }

        .link {
          line-height: 40px;
          padding: 0px 20px;

          @media (max-width: 1000px) {
            padding: 0px 10px;
          }

          @media (max-width: 1000px) {
            width: 100%;
          }

          cursor: pointer;
          transition: all 0.4s;

          &:hover {
            opacity: 0.9;
          }
        }

        .active-link {
          background-color: #cc1111;
          color: white;
        }
      }

      .modal-dev {
        width: 100%;
        padding: 20px;

        .check-box {
          .main-container {
            display: block;
            position: relative;
            color: #1f1216;
            padding-left: 30px;
            margin-bottom: 16px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            font-size: 16px;
            user-select: none;
          }

          .checkmark {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            height: 20px;
            width: 20px;
            border: 1.5px solid #1f1216;
            border-radius: 4px;
          }

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }

          /* .main-container:hover input ~ .checkmark {
                background-color: #ccc;
              } */

          /* When the checkbox is checked, add a blue background */
          .main-container input:checked~.checkmark {
            background-color: #08b564;
            border: none;
          }

          /* Create the checkmark/indicator (hidden when not checked) */
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }

          /* Show the checkmark when checked */
          .main-container input:checked~.checkmark:after {
            display: block;
          }

          /* Style the checkmark/indicator */
          .main-container .checkmark:after {
            left: 7px;
            top: 4px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }

        .horizontal-line {
          width: 100%;
          height: 1px;
          background-color: #d9dce0;
        }

        .check-box-wrapper {
          width: 100%;
          display: flex;
          margin-top: 20px;
          flex-wrap: wrap;

          .check-box {
            width: 50%;
            margin-top: 5px;

            @media (max-width: 560px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.change-location-modal {
  width: 100%;
  background-color: #a5a8ab3f;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;

  .modal-dialog {
    background-color: white;
    /* border: 0.75px solid #0000001a;
        box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1); */
    width: 600px;
    /* padding: 20px; */
    border: none !important;

    @media (max-width: 560px) {
      width: 100%;
    }

    .modal-header {
      border-bottom: none;
      padding: 20px;
      display: block;

      .loc-info {
        width: 100%;
        margin-bottom: 10px;

        .title {
          font-size: 14px;
          color: #cc1111;
        }

        .location {
          font-weight: 500;
        }
      }
    }

    .active-detail-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icons {
        display: flex;
        gap: 10px;

        img {
          width: 35px;
          cursor: pointer;
        }
      }
    }

    .modal-content {
      border: none;
    }

    .modal-title {
      width: 100%;
      font-size: 20px;
      font-weight: 500;
      position: relative;
      width: 100%;
    }

    .modal-title::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 45px;
      background-color: #cc1111;
      left: 0px;
      bottom: -8px;
    }

    .modal-body {
      border: none;
      padding: 20px;

      form {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        .title {
          color: #cc1111;
          font-size: 20px;
        }

        .img-box {
          position: relative;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background-color: #a5a8ab;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          input {
            position: absolute;
            z-index: 999;
            opacity: 0;
            width: 1px;
          }
        }

        .text {
          /* font-weight: 500 */
          font-size: 16px;
          color: #454545;
        }

        .in-1-col {
          width: 100%;
        }

        .in-1-5-col {
          width: calc(75% - 7.5px);

          @media (max-width: 415px) {
            width: 100%;
          }
        }

        .in-0-5-col {
          width: calc(25% - 7.5px);

          @media (max-width: 415px) {
            width: 100%;
          }
        }

        .in-2-col {
          width: calc(50% - 7.5px);

          @media (max-width: 415px) {
            width: 100%;
          }
        }

        .col-in-2-detail {
          width: calc(50% - 15px);

          @media (max-width: 415px) {
            width: 100%;
          }
        }

        .name {
          width: calc(50% - 15px);

          @media (max-width: 415px) {
            width: 100%;
          }
        }

        .in-3-col {
          width: calc(33.3% - 10px);

          @media (max-width: 500px) {
            width: calc(50% - 7.5px);
          }

          @media (max-width: 415px) {
            width: 100%;
          }
        }

        .heghight-title {
          font-weight: 500;
          color: #cc1111;
        }

        textarea {
          width: 100%;
          padding-top: 15px;
          border-radius: 4px !important;
          background-color: #f9fafb;
          font-size: 12px;
          border: none;
          padding-left: 15px;
          outline: none;
          border: 1px solid #d9dce0;
          margin-top: 5px;
          resize: none;

          &::placeholder {
            color: #909090;
            font-size: 12px;
          }

          &:focus {
            border: 0.8px solid #cc1111;
            box-shadow: none;
          }
        }

        .check-box {
          display: flex;
          gap: 30px;
          margin-top: 5px;
          margin-bottom: 10px;

          @media (max-width: 500px) {
            flex-wrap: wrap;
          }

          .label-text {
            width: 50%;

            @media (max-width: 500px) {
              width: 100%;
            }
          }

          input[type="radio"] {
            position: absolute;
            opacity: 0;

            +.radio-label {
              &:before {
                content: "";
                background: white;
                border-radius: 100%;
                border: 1px solid black;
                display: inline-block;
                width: 1.1em;
                height: 1.1em;
                position: relative;

                /* top: -0.2em; */
                /* margin-right: 1em;  */
                @media (max-width: 730px) {
                  width: 14px;
                  height: 14px;
                }

                margin-top: 2px;
                margin-right: 8px;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
              }
            }

            &:checked {
              +.radio-label {
                &:before {
                  background-color: green;
                  box-shadow: inset 0 0 0 4px white;
                  border-color: green;
                }
              }
            }

            &:focus {
              +.radio-label {
                &:before {
                  outline: none;
                  border-color: green;
                }
              }
            }

            &:disabled {
              +.radio-label {
                &:before {
                  box-shadow: inset 0 0 0 4px green;
                  border-color: darken(green, 25%);
                  background: darken(green, 25%);
                }
              }
            }

            +.radio-label {
              &:empty {
                &:before {
                  margin-right: 0;
                }
              }
            }
          }
        }

        .mini-btn {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          button {
            width: 70px;
            height: 30px;
            border-radius: 75px;
            background-color: #cc1111;
            color: white;
            cursor: pointer;
            border: none;
          }
        }

        .table-wrapper {
          margin-bottom: 10px;
          margin-top: 10px;
          width: 100%;

          @media (max-width: 1150px) {
            overflow-x: auto;
          }

          table {
            width: 100%;

            @media (max-width: 1150px) {
              min-width: 1150px;
            }
          }

          thead {
            tr {
              th {
                padding: 10px 0px;
                font-size: 14px;
                font-weight: 500;
                color: #1f1216;
              }
            }
          }

          tbody {
            tr {
              padding: 20px;
              border: 1px solid #d9dce0;

              td {
                height: 60px;
                color: #1f1216;
                font-size: 14px;
                font-weight: 500;
                text-align: center;

                .title {
                  font-size: 10px;
                  color: #909090;
                }
              }

              .action {
                position: relative;

                .dot {
                  cursor: pointer;
                }

                .more-links {
                  text-align: left;
                  position: absolute;
                  right: 45px;
                  top: 45px;
                  width: 200px;
                  background-color: white;
                  padding: 20px;
                  border-radius: 8px;
                  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
                  display: flex;
                  flex-direction: column;
                  gap: 20px;
                  font-size: 14px;
                  color: #1f1216;
                  z-index: 2;

                  .img {
                    width: 25px;
                    display: inline-block;
                  }

                  .link {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }

      .input-group {
        label {
          width: 100%;
          font-size: 14px;
          font-family: 500;
        }

        input,
        select {
          width: 100%;
          height: 36px;
          border-radius: 4px !important;
          background-color: #f9fafb;
          font-size: 12px;
          border: none;
          padding-left: 15px;
          outline: none;
          margin-top: 5px;
          border: 1px solid #d9dce0;

          &::placeholder {
            color: #909090;
            font-size: 12px;
          }

          &:focus {
            border: 0.8px solid #cc1111;
            box-shadow: none;
          }
        }
      }

      .location-head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        color: #cc1111;

        img {
          cursor: pointer;
        }
      }
    }
  }

  .modal-footer {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    border-top: none;

    @media (max-width: 400px) {
      flex-wrap: wrap;
    }

    button {
      width: 150px;
      height: 36px;
      font-size: 17px;
      font-weight: 600;
      border-radius: 75px;
      border: 1.5px solid #cc1111;
      color: #cc1111;
      background: none;
      transition: all 0.4s;
      cursor: pointer !important;

      &:hover {
        opacity: 0.9;
      }

      @media (max-width: 400px) {
        width: 100%;
      }
    }
  }
}